.p1 {
  text-align: center;
  background-image: url(../img/p3.jpg);
  padding-bottom: 300px;
  padding-top: 550px;
  background-size: cover;
  color: white;
  background-repeat: no-repeat;
}
.p2 {
  background-image: url(../img/p6.jpg);
  padding-bottom: 40px;
  padding-top: 30px;
  background-size: cover;
  color: Aqua;
  background-repeat: no-repeat;
}
